.footer{
    background: #002500;
    margin-top: 20px;
    display: flex;
}

#contact-container{
    margin-right: 10px;
    padding-left: 10px;
}

.address{
    color: white;
    margin-bottom: 0;
    margin-top: 5px;
}

.email h4{
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

textarea{
    height: 100px;
    width: auto;
    resize: none;
}