
#header{
	background: white;
    height: 150px;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    
}

#logo a{
    color: black;
    font-family: 'Merienda One', cursive;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.navbar{
    padding: 0;
    margin: 0;
    height: 150px;
}

.navbar ul{
    
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    left: 100px;
    top: 121px;
}
/*
.logo a img{
    margin: 0;
    padding: 0;
}
*/
.nav-item{
	padding: 5px;
	display: inline-block;
	list-style-type: none;

}

ul .nav-item a{
    font-family: 'Oswald', sans-serif;
	text-decoration: none;
    color: black;
}