
header{
	background: 95CFBD;
    width: 100%;
    height: 35px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
}

#logo{
    margin: 0;
    padding: 0;
    flex: 2;
}

#logo a{
    color: black;
    font-family: 'Merienda One', cursive;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#navbar{
    padding: 0;
    margin: 0;
    flex: 2;
    width: 100%;
    height: 100%;
}

.nav-item{
	padding: 5px;
	display: inline-block;
	list-style-type: none;
    margin: 0;
}

#navbar .nav-item a{
    font-family: 'Oswald', sans-serif;
	text-decoration: none;
    color: black;

}

#navbar .nav-item:hover{
    background: #0D3952;
}

#navbar .nav-item:hover a{
    color: #95CFBD;
}