
#packages-container{
    display: flex;
    justify-content: space-between;
}

.package-panel img{
    margin: 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
    display: inline-block;
}

.package-panel h4{
    position:absolute;
    
}

.package-panel{
    border: 2px solid #8E806F;
    border-radius: 5px;
    margin-top: 5px;
    width: 202px;
    
}

.panel-title{
    padding-top: 5px;
    padding-bottom: 5px;
    background: #8E806F;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    
}