.container{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center
}


.package-panel{
    border: 2px solid #8E806F;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    height: auto;
    flex: 2;
    max-height: 50%;
    
}

.package-panel img{
    margin: 0;
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: auto;
    display: block;
}

.panel-title{
    padding-top: 5px;
    padding-bottom: 5px;
    background: #8E806F;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
/*
#london{
    flex: 2;
}

#los{
    flex: 2;
}

#hk{
    flex: 2;
}

#vietnam{
    flex: 2;
}
*/